@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sora:wght@400;700&display=swap');

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    --box-shadow: 0 8px 22px rgba(0,0,0,0.1);
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
    
}

h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--dark);
    font-weight: 700;
}

.logo {
    color: #000;
    color: var(--dark);
    text-decoration: none;

}

.navbar {
    box-shadow: var(--box-shadow);
}

.navbar .logo {
    width: 160px;
}

.navbar .nav-link {
    font-size: 14px;
    font-weight: 700;
}

.btn {
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.hero {
    background-image: url(/img/Rental-Car-Industry-3127x1344.jpg); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.card-effect {
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 25px;
    transition: all 0,35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: #fff;
    font-size: 32px;
    border-radius: 100px;
}

#class {
    color: darkblue;
}

.nav-link {
    color: #000;
    font-weight: 500;
    position: relative;
}

.navlink:hover, .nav-link.acitve {
    color: #000;
}

.nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: darkblue;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before {
    width: 100%;
    visibility: visible;
}

.iconbox-5{
    margin-right: 5px;
    width: 54px;
    height: 54px;
    display: flex;
    font-size: 40px;
    border-radius: 100px;
    color: #000;
}
#carouselExample {
    width: 60%;
    height: 33em;
}

#carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 1%;
}